<!DOCTYPE html>
<html>
<head>
  <title>Update Student Campus</title>
</head>
<body>
<h1>Update Student's Campus Form</h1>
  <form action="/campus" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="campus" placeholder="Campus">
  <button type="submit"> Save </button>
  </form>
  </body>
</html>