<!DOCTYPE html>
<html>
<head>
  <title>Student Management System </title>
  <link rel="stylesheet" href="new_styles.css">
</head>
<body>
  <h1>Student Management System</h1>
  <p>Welcome to the studrnt management system </p>
  <!-- <p><%= @students %></p> -->
  <!-- the equal(=) sign means to print that exact expression on the page -->
  <p> Click <a href="/students/new">here</a> to create a new student.</p>


  <ul>
    <% @students.each do |student| %>
      <li><%= student['name']%>, <%= student['age']%> </li>
    <% end %>
   

  </ul>


</body>
</html>